@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale-intro {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: none;
    }
}

@keyframes introanim {
    0% {
        opacity: 0;
        transform:  translate(-100%, -60%) rotate(-45deg);
        filter: blur(10px);
    }
    51% {
        transform:  translate(10%, 10%) rotate(10deg);
    }
    100% {
        filter: none;
        transform:  translate(0, 0) rotate(0deg);
        opacity: 1;
    }
}

.intro {
    opacity: 0;
    animation: introanim 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

}

.scale-intro {
    animation: scale-intro 0.8s ease forwards;
    animation-delay: 0.1s;
    transform: scale(1.5);
}

.blur-anim {
    animation: blur 0.5s ease forwards;
}


#particles-js {
    width: 100vw;
    height: 100vh;
}
