@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none
}
@keyframes fadeout {
	0% {
		opacity: 1;
        visibility: visible;
	}

	100% {
		opacity: 0;
        visibility: hidden;
	}
}
#canvas {
    width: 101vw;
    height: 101vh;
    z-index: 0;
}

button {
    font-family: 'Comfortaa', sans-serif;
    border-style: none;
    color:white;
    background-image:linear-gradient(144deg,#0095ff, #426bf3 50%,#002beb);
    border-radius: 2vh;
    padding-left:1vw;
    padding-right:1vw;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    font-size:4vh;
    box-shadow: none;
    margin-left: 5px;
    margin-right:5px;
    transition: all 300ms;
    cursor: pointer;
}

button:hover {
    padding-left: 2vw;
    padding-right: 2vw;
    transform:skewX(10deg)
}

button:active {
    transform:scale(0.9);
    
}

#buttonslmao {
position: fixed;
top: 60%;
left: 50%;
transform: translate(-50%, -60%);
font-size: 5vh;
opacity: 70%;
border-radius: 8%;
font-family: 'Raleway', sans-serif;    
overflow: visible;
white-space:nowrap;
}

#title {
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    color:#a2b3ff;
    font-size:8vh;
    opacity: 0.8;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}